:root {
  --guides-width: 1160px;
  --orange: #fb853a;
  --green: #4b9200;
  --yellow: #ffee2e;
  --red: #d31414;
  --black-blue: #333b41;
  --gray: #767474;
  --gray-smoky: #ababab;
  --gray-light: #f1f3f2;
  --white-frosted-glass: #fdfdff;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 14px 0;
}

.wrap-1160 {
  height: 100%;
  width: 1160px;
  margin:0 auto;
}

.logo {
  border: 1px solid #fff;
  border-radius: 2px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.logo__title {
  padding: 4px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  background-image: url("../assets/ico/bamboo.svg");
  background-repeat: no-repeat;
  background-position-x: 13.5%;
  background-position-y: 75%;
}

.nav {
  margin-left: 5.43%;
  width: 45.34%;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  cursor: pointer;
}

.nav__item:hover {
  transform: scale(1.5);
  color: #f9804b;
}

.nav__item--selected {
  text-decoration: none;
  color: #f9804b;
  cursor: default;
}

.nav__item--selected:hover {
  transform: none;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

.watch-online {
  background-image: url("../assets/img/panda-header.png");
  background-position-y: calc(var(--guides-width) * -0.06);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto 140px;
  color: #fff;
  padding-top: 86px;
  /* padding-bottom: 15.3%; */
  padding-bottom: 11.35%;
}

.watch-online__wrap {
  position: relative;
}

.watch-online__description {
  position: relative;
}

.watch-online__image {
  display: block;
  position: absolute;
  transform: translate(-99px,-74px);
}

.watch-online__text {
  line-height: 75%;
  font-size: 106.5px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.watch-online__button {
  width: 64%;
  background-color: var(--orange);
  border: none;
  border-radius: 25px;
  padding: 16px 1px 16px 5px;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
}
.main {
  position: relative;
}

.backstage__image-flower {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -128px;
}

.backstage {
  display: flex;
  justify-content: space-evenly;
  color: var(--black-blue);
  margin-bottom: 180px;
}

.backstage-col-2 {
  margin-left: 87px;
}

.description__header {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 3.62%;
}

.description__short {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 9.77%;
}

.description__subheader {
  font-size: 24px;
  margin-bottom: 6.15%;
  line-height: 120%;
}

.description__long {
  line-height: 140%;
}

.pets__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.pets__arrow-left {
  /* background-image: url("../assets/ico/arrow-right.svg");
  transform: rotate(180deg); */
  display: block;
}

.pets__arrow-right {
  /* background-image: url("../assets/ico/arrow-right.svg"); */
  display: block;
}

.pet-card {
  border: 1px solid #fe9013;
  border-radius: 5px;
  width: 368px;
}

.pet-card__image {
  margin-bottom: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pet-card__footer {
  padding: 8px 14px 14px 16px;
}

.pet-card-footer__wrap-banana {
  background-image: url("../assets/ico/banana-bamboo.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.pet-card-footer__wrap-flesh {
  background-image: url("../assets/ico/flesh.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.pet-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.pet-card__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.pets__button {
  width: 27.7%;
  color: #fff;
}

/* utility */
.link {
  text-decoration: none;
  color: inherit;
}

.link:active,
.link:hover {
  color: #f9804b;
}

.button {
  cursor: pointer;
  background-color: var(--orange);
  border: none;
  border-radius: 25px;
  padding: 16px 1px 16px 5px;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
}

.button:hover {
  transform: scale(1.1);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center-y {
  align-items: center;
}

.yellow {
  color: var(--yellow);
}