:root {
  --social-media-list-width: 141px;
}

html {
  color: black;
}

label {
  cursor: pointer;
}

/* #region utility start */
.info-label--required {
  position: relative;
}

.info-label--required:before {
  content: "*";
  color: var(--red);
  position: absolute;
  top: -8px;
  left: -8px;
}

.text-input,
.select-input {
  height: 42px;
  border: 1.5px solid var(--black-blue);
  border-radius: 2px;
}

.info-label {
  justify-self: flex-end;
  font-weight: 500;
}

.checkbox-input {
  margin: 0 3px 0 0;
  height: 12px;
  width: 12px;
  -moz-appearance: none;
  appearance: none;
  border: 1.5px solid var(--black-blue);
  border-radius: 2px;
}

.checkbox-input:checked {
  background: url("../../../assets/icons/checkbox.svg") center no-repeat;
  background-color: var(--orange);
  background-size: contain;
}

.select-input {
  width: 152px;
}
/* #endregion utility end */

.donation-form {
  padding: 60px 0 60px;
  max-width: 1280px;
}

/* #region donation-info start */
.donation-info__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 47.265625%;
}
  .donation-info__fieldset .amount-input {
    margin-left: 30px;
  }

.donation-form__donation-info {
  padding-bottom: 43px;
}
/* #region donation-info end */

/* #region additional-info start  */
.donation-form__additional-info {
  padding-bottom: 40px;
}
  .additional-info__fieldset {
    display: grid;
    justify-content: flex-end;
    row-gap: 10px;
    column-gap: 30px;
    grid-template:
      ". additional-info__share-label" min-content
      ". social-networks-list" min-content
      "additional-info__is-corporate-title additional-info__is-corporate-label" min-content
      "additional-info__is-anomymous-title additional-info__is-anomymous-label" min-content
      "additional-info__comment-title additional-info__comment-input"
      / min-content auto;
    padding-right: 17.1875%;
  }

  .checkbox-label {
    display: flex;
  }
  .checkbox-label .checkbox-input {
    align-self: center;
    margin: 1px 7px 0 0;
  }

  /* #region additional-info grid-areas start */
  .social-networks-list {
    grid-area: social-networks-list;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--social-media-list-width);
  }
  .additional-info__share-label {
    grid-area: additional-info__share-label;
  }
  .additional-info__share-input {
    grid-area: additional-info__share-input;
  }
  .additional-info__is-corporate-label {
    grid-area: additional-info__is-corporate-label;
    padding-bottom: 10px;
  }
  .additional-info__is-corporate-title {
    grid-area: additional-info__is-corporate-title;
  }
  .additional-info__is-corporate-input {
    grid-area: additional-info__is-corporate-input;
  }
  .additional-info__is-anomymous-label {
    
    grid-area: additional-info__is-anomymous-label;
  }
  .additional-info__is-anomymous-title {
    grid-area: additional-info__is-anomymous-title;
  }
  .additional-info__is-anomymous-input {
    grid-area: additional-info__is-anomymous-input;
  }
  .additional-info__comment-title {
    grid-area: additional-info__comment-title;
    padding-top: 10px;
  }
  .additional-info__comment-input {
    grid-area: additional-info__comment-input;
    resize: none;
    height: 80px;
  }
  /* #endregion additional-info grid-areas end */
  
  .social-network-list__item--facebook,
  .social-network-list__item--twitter {
    width: 25px;
    height: 25px;
  }
  .social-network-list__item--instagram {
    width: 35.5px;
    height: 35.5px;
  }
  .list-item-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* #endregion additional-info end  */


/* #region payment-info start */
.donation-form__payment-info {
  padding-bottom: 60px;
}
  .payment-info__fieldset {
    display: grid;
    justify-content: flex-end;
    column-gap: 30px;
    row-gap: 20px;
    grid-template:
      "payment-info__cardholder-title payment-cardholder-input payment-cardholder-input"
      "payment-info__card-type-title payment-info__card-type-input payment-info__card-type-input"
      "payment-info__card-number-title payment-info__card-number-input payment-info__card-number-input"
      "payment-info__card-expiration-title payment-info__card-expiration-day-input payment-info__card-expiration-month-input"
      "payment-info__card-security-code payment-info__card-security-code-input payment-info__card-security-code-input"
      "payment-info__amount-label payment-info__amount-input payment-info__amount-input"
      / 150px 151px auto;
    padding-right: 17.1875%;
  }

  .payment-info .info-label {
    align-self: center;
  }

  /* #region payment-area grid-areas start */
  .payment-info__cardholder-title {
    grid-area: payment-info__cardholder-title;
  }
  .payment-cardholder-input {
    grid-area: payment-cardholder-input;
  }
  .payment-info__card-type-title {
    grid-area: payment-info__card-type-title;
  }
  .payment-info__card-type-input {
    grid-area: payment-info__card-type-input;
    background: url("../../../assets/icons/payment.svg") no-repeat;
    background-position: right 6px center;
    padding-right: 131px;
  }
  .payment-info__card-number-title {
    grid-area: payment-info__card-number-title;
  }
  .payment-info__card-number-input {
    grid-area: payment-info__card-number-input;
  }
  .payment-info__card-expiration-title {
    grid-area: payment-info__card-expiration-title;
  }
  .payment-info__card-expiration-day-input {
    grid-area: payment-info__card-expiration-day-input;
  }
  .payment-info__card-expiration-month-input {
    grid-area: payment-info__card-expiration-month-input;
  }
  .payment-info__card-security-code {
    grid-area: payment-info__card-security-code;
  }
  .payment-info__card-security-code-input {
    grid-area: payment-info__card-security-code-input;
    width: 71px;
  }
  .payment-info__amount-label {
    grid-area: payment-info__amount-label;
  }
  .payment-info__amount-input {
    grid-area: payment-info__amount-input;
  }
  /* #endregion payment-area grid-areas end */

  .payment-info__card-expiration-day-input,
  .payment-info__card-expiration-month-input {
    width: 151px;
  }

  .payment-info__card-expiration-day-input, 
  .payment-info__card-expiration-month-input {
    appearance: none;
    background: url("../../../assets/icons/checkbox-gray.svg") right 10px center no-repeat;
  }

.donation-form__submit-wrap {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 34.921875%;
}

/* #endregion payment-info end */

.info-section .heading {
  padding-left: 7.1875%;
  color: var(--orange);
  font-size: 36px;
  line-height: 130%;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.additional-info__fieldset {
  height: 231px;
}
  .additional-info__fieldset .info-line {
    margin-top: 10px;
  }
  .additional-info .info-line--is-anonymous {
    margin-top: 20px;
  }

.additional-info-line__comment {
  width: 40.234375%;
  height: 80px;
}

.payment-cardholder-input,
.payment-info__card-type-input,
.payment-info__card-number-input,
.additional-info__comment-input {
  /* width: 40.234375%; */
  width: 515px;
}

.amount-input {
  -moz-appearance: textfield;
  appearance: textfield;
  background: transparent;
  padding: 11px 82px 9px 12px;
  width: 130px;
  line-height: 140%;
  background: url("../../../assets/icons/dollar.svg") right 10px center no-repeat;
  background-size: 10px 20px;
}

.amount-input:active,
.amount-input:focus {
  color: var(--green);
  border: 1px solid var(--green);
  background-image: url("../../../assets/icons/dollar-green.svg");
}

.amount-input:invalid {
  color: var(--red);
  border: 1px solid var(--red);
  background-image: url("../../../assets/icons/dollar-red.svg");
}

.amount-number::placeholder {
  color: var(--gray-placeholder);
  line-height: 140%;
}