:root {
  --orange: #fb853a;
  --orange-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --green: #4b9200;
  --yellow: #ffee2e;
  --red: #d31414;
  --black-blue: #333b41;
  --gray: #767474;
  --gray-smoky: #ababab;
  --gray-light: #f1f3f2;
  --white-frosted-glass: #fdfdff;
  --button-arrow-width: 62px;
  --button-arrow-margin: 20px;
  --guidelines-width: 1160px;
  --guidelines-width-1600: 72.5%;
  --guidelines-width-1000: 94%;
  --guidelines-width-640: 93.75%;
  --max-width-1600: 1160px;
  --max-width-1000: 940px;
  --max-width-640: 600px;
  --max-width-320: 300px;
}

h1 {
  position: absolute;
  left: -9999px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

input {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* utility start */
.underline-orange {
  padding-bottom: 1px;
  border-bottom: 1px solid #fe9013;
}


.link-button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 298px;
  height: 54px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  padding: 16px 1px 16px 5px;
  text-align: center;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  line-height: 140%;
  text-transform: uppercase;
  cursor: pointer;
}

.link-button:hover,
.link-button:active,
.link-button:focus {
  background: var(--green);
}

.button-standard {
  padding: 10px 39px;
  border: 1px solid var(--black-blue);
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  line-height: 140%;
  background: var(--gray-light);
  height: 42px;
  cursor: pointer;
  transition: all .5s;
}

.button-standard:hover,
.button-standard:focus,
.button-standard:active {
  color: var(--green);
  border-color: var(--green);
}

.submit {
  padding: 10px 39px;
  border: 1px solid var(--black-blue);
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  background: var(--gray-light);
  height: 42px;
  cursor: pointer;
  transition: all .5s;
}

.submit:hover,
.submit:active,
.submit:focus {
  border: 1px solid var(--green);
  color: var(--green);
}

.link-green {
  color: green;
  text-decoration: none;
}

.link-green:hover,
.link-green:active,
.link-green:focus {
  color: var(--orange);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:focus,
.link:hover .link-text,
.link:active .link-text,
.link:focus .link-text,
.link-text:hover,
.link-text:focus {
  outline: 0;
  border-bottom: 1px solid var(--green);
  color: var(--green);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
  color: #f9804b;
}

.center {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.yellow {
  color: var(--yellow);
}

.wrap-guidelines {
  width: var(--guidelines-width-1600);
  max-width: var(--max-width-1600);
}

/* utility end */

/* Header start */
.header {
  display: flex;
  justify-content: center;
  min-height: 80px;
  background-color: #000;
  color: #fff;
  padding: 14px 0;
  position: relative;
  z-index: 2;
}

.header__wrap {
  align-items: center;
}

.header__menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  width: 18px;
  height: 10px;
  cursor: pointer;
}

.header__menu-button-line {
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.header__menu-button:hover .header__menu-button-line {
  background-color: var(--orange);
}

.logo {
  border: 1px solid #fff;
  border-radius: 2px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.logo__title {
  color: #fff;
  padding: 4px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  background: url("../../assets/icons/bamboo.svg") no-repeat;
  background-position-x: 13.5%;
  background-position-y: 75%;
}

.logo__title .nav-link{
  display: flex;
  flex-direction: column;
}

.nav {
  margin-left: 63px;
  width: 526px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  cursor: pointer;
  transition: all .5s;
}

.nav__item:hover {
  transform: scale(1.5);
  color: #f9804b;
}

.nav__item--selected {
  text-decoration: none;
  color: #f9804b;
  cursor: default;
  pointer-events: none;
}

.nav__item--selected:hover {
  transform: none;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}
/* Header end */

/* 'Watch online' start */
.watch-online {
  min-height: 700px;
  max-height: 700px;
  background: url("../../assets/images/panda-bg.jpg") no-repeat center;
  background-size: cover;
  margin: 0 auto;
  color: #fff;
}

.watch-online__wrap {
  padding-top: 86px;
  display: grid;
  justify-items: center;
  grid-template-columns: auto 500.31px;
  grid-template-areas: ". watch-online__content-wrap" ". watch-online__link-wrap";
}

.watch-online__content-wrap {
  grid-area: watch-online__content-wrap;

}

.watch-online__link-wrap {
  grid-area: watch-online__link-wrap;
}

.watch-online__content {
  text-align: center;
}

.watch-online__description {
  text-align: center;
}

.watch-online__image {
  position: absolute;
  top: -74px;
  left: -73px;
}

.watch-online__text {
  width: 500.3px;
  line-height: 75%;
  font-size: 106.5px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 60px;
}
/* 'Watch online' end */

.main__wrap {
  background: url("../../assets/images/flower.png") no-repeat;
  background-position: top 12px right;
  padding: 140px 0 180px;
}

/* 'Backstage' start */

.backstage {
  display: flex;
  justify-content: space-between;
  color: var(--black-blue);
}

.backstage-col-2 {
  max-width: 465px;
}

.description__header {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  padding-bottom: 20px;
}

.description__short {
  font-size: 16px;
  line-height: 130%;
  padding-bottom: 54px;
}

.description__subheader {
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 35px;
}

.description__long {
  line-height: 140%;
}
/* 'Backstage' end */

/* 'Pets' start */
.pets {
  background: url("../../assets/images/palm.png") no-repeat, url("../../assets/images/strelitzia.png") no-repeat;
  background-position: bottom left, bottom right;
  padding-bottom: 80px;
}

.pets__gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.button-arrow {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.pets__arrow {
  position: absolute;
  top: calc(var(--button-arrow-width) / -2);
}

.pets__arrow--left {
  grid-area: pets__arrow--left;
  justify-self: left;
  left: calc(-1 * var(--button-arrow-width) - var(--button-arrow-margin));
  background: url("../../assets/icons/arrow-left-orange.svg") no-repeat, linear-gradient(#f9804b, #fe9013);
}

.pets__arrow--left:hover,
.pets__arrow--left:focus {
  background: url("../../assets/icons/arrow-left-orange.svg") no-repeat, var(--green);
}

.pets__arrow--right {
  grid-area: pets__arrow--right;
  justify-self: right;
  right: calc(-1 * var(--button-arrow-width) - var(--button-arrow-margin));
  background: url("../../assets/icons/arrow-right-orange.svg") no-repeat, linear-gradient(#f9804b, #fe9013);
}

.pets__arrow--right:hover,
.pets__arrow--right:focus {
  background: url("../../assets/icons/arrow-right-orange.svg") no-repeat, var(--green);
}

.pets__grid {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "pet-card--panda pet-card--eagle pet-card--gorilla"
                       "pets__arrow--left . pets__arrow--right"
                       "pet-card--sloth pet-card--cheetah pet-card--penguin";
  column-gap: 30px;
  row-gap: 20px;
}

.pet-card--alligator {
  grid-area: pet-card--alligator;
  display: none;
}

.pet-card--panda {
  grid-area: pet-card--panda;
}

.pet-card--eagle {
  grid-area: pet-card--eagle;
}

.pet-card--gorilla {
  grid-area: pet-card--gorilla;
}

.pet-card--sloth {
  grid-area: pet-card--sloth;
}

.pet-card--cheetah {
  grid-area: pet-card--cheetah;
}

.pet-card--penguin {
  grid-area: pet-card--penguin;
}

.pet-card-1-1 {
  grid-area: pet-card-1-1;
}

.pet-card-1-2 {
  grid-area: pet-card-1-2;
}

.pet-card-1-3 {
  grid-area: pet-card-1-3;
}

.pet-card-2-1 {
  grid-area: pet-card-2-1;
}

.pet-card-2-2 {
  grid-area: pet-card-2-2;
}

.pet-card-2-3 {
  grid-area: pet-card-2-3;
}

.pet-card {
  border: 1px solid #fe9013;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.pet-card__image-wrap {
  overflow: hidden;
}

.pet-card__image {
  min-width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  transition: all .5s;
}

.pet-card:hover {
  background-color: var(--gray-light);
}

.pet-card:hover .pet-card__image {
  cursor: pointer;
  transform: scale(1.1);
}

.pet-card:hover .pet-card__footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  transform: translateY(-150px);
  transition: all 1.5s;
  background-color: var(--gray-light);
}

.pet-card__footer {
  padding: 8px 14px 14px 16px;
}

.pet-card-footer__wrap-banana {
  background-image: url("../../assets/icons/banana-bamboo.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.pet-card-footer__wrap-flesh {
  background-image: url("../../assets/icons/flesh.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.pet-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.pet-card__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}


.pets__link {
  display: block;
  margin: 0 auto;
  color: #fff;
}
/* 'Pets' end */

/* 'Friend' start */
.friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: .9;
  padding: 69px 0 100px 0;
  color: #333B41;
}

.friend__wrapper {
  background-color: rgba(253, 253, 255, 0.52);
  width: var(--guidelines-width-1600);
  padding-top: 41px;
  border-radius: 20px;
  text-align: center;
}

.friend__header {
  color: #fe9013;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  padding-bottom: 30px;
  text-align: center;
}

.friend__pick {
  padding-bottom: 59px;
}

.friend__description {
  padding: 0 54px 60px 99px;
  text-align: left;
}

.friend-text__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 40px;
}

.friend-text__subheader {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  margin-bottom: 10px;
}

.friend-text__body {
  max-width: 863px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}

.friend-donation__header {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}

.friend-donation__cards {
  padding: 0 0 60px;
  display: flex;
  justify-content: center;
}

.friend__donation-card {
  width: 168px;
  position: relative;
}

.friend__donation-card:not(:first-child) {
  margin-left: 130px;
}

.friend-donation-card__image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 168px;
  /* margin-bottom: 30px; */
  border: 1px solid var(--orange);
  background-color: #fff;
  border-radius: 5px;
}

.friend-donation-card__image {
  border-radius: 5px;
}

.friend-donation-card__text {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  text-align: left;
}

.friend-donation-card__arrow-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  height: 168px;
  transform: translateX(210%);
}

.friend__button {
  width: 298px;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
}
/* 'Friend' start */

/* 'Testimonials' start */
.testimonials {
  padding: 140px 0 180px;
  background: url("../../assets/images/leaf.png") no-repeat bottom -130px right;
}

.testimonials__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  padding-bottom: 47px;
  text-align: center;
}

.testimonials__cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
}

.testimonials__card {
  position: relative;
  border-radius: inherit;
}

.testimonials__card-border {
  position: relative;
  background: linear-gradient(90deg, #febdab 74%, #f3a9f8 66%, #e0d8f0 100%, #eaf7fe 100%, #eaf7fe 100%);
  padding: 1px;
  border-radius: 20px;
  height: 391px;
  width: 268px;
}

.testimonials__card-content {
  padding: 15px 15px 19px 16px;
  overflow: hidden;
  height: 100%;
  background-color: var(--gray-light);
  border-radius: inherit;
}

.testimonials-card__header {
  display: flex;
  margin-bottom: 10px;
}

.testimonials-card__author {
  margin-left: 10px;
}

.testimonials-card__name {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.testimonials-card__time:before {
  content: " • ";
}

.testimonials-card__location {
  color: #bdbdbd;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.testimonials-card__text {
  overflow: hidden;
  max-height: 306px;
  color: #767474;
  line-height: 120%;
  font-weight: 300;
}

.testimonials__scroll {
  height: 8px;
  width: 600px;
  margin: 0 auto 31px auto;
  background-color: #f5f7f6;
  border-radius: 5px;
}

.testimonials__scroll:hover {
  transform: scaleY(1.5);
}

.testimonials-scroll__active {
  position: absolute;
  display: inline-block;
  width: 22%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--orange);
  cursor: pointer;
}

.testimonials-scroll__active:hover {
  transform: scaleY(1.5);
  background-color: var(--green);
}

.testimonials__button-feedback {
  background-color: var(--orange);
  width: 298px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: all .5s;
  cursor: pointer;
  border: none;
}
/* 'Testimonials' start */

/* Footer start */
.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0 50px 0;
  background-color: #111115;
  color: #fff;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
}

.footer__grid {
  display: grid;
  /* max-width: var(--max-width-1600); */
  grid-template-columns: 25.689655172413794% auto 34.48275862068966%;
  grid-template-areas: "footer__logo-wrap . footer__subscribe"
                       "footer__donate-link-wrap . ."
                       "footer__social-media footer__nav footer__copyright";
}

.footer__logo {
  padding-bottom: 6.5px;
}

.footer__logo-wrap {
  grid-area: footer__logo-wrap;
  align-self: flex-start;
  justify-self: left;
  padding-bottom: 68px;
}

.footer__donate-link {
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer__donate-link-wrap {
  grid-area: footer__donate-link-wrap;
  padding-bottom: 44px;
}

.footer__social-media {
  grid-area: footer__social-media;
}

.footer__social-media-list {
  display: flex;
  flex-direction: column;
}

.footer__social-media-item {
  list-style-type: none;
  cursor: pointer;
  width: 40%;
}

.footer__social-media-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__social-media-icon {
  margin-right: 12px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}

.footer__social-media-link:focus,
.footer__social-media-item:hover {
  color: var(--green);
}

.footer__social-media-item:hover .footer__social-media-icon,
.footer__social-media-link:focus .footer__social-media-icon {
  background: var(--green);
}

.footer__social-media-link {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: inherit;
}

.footer__nav {
  grid-area: footer__nav;
  justify-self: right;
  align-self: flex-end;
  flex-wrap: wrap;
  width: 100%;
  max-width: 362px;
}

.footer__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between
}

.footer__nav-item {
  transition: all .5s;
  cursor: pointer;
}

.footer__nav-item:hover {
  transform: scale(1.5);
  color: var(--orange);
}

.footer__nav-item:first-child {
  margin-left: 0;
}

.footer__nav-link {
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

.footer-form__row {
  display: flex;
}

.footer-form__email:active,
.footer-form__email:focus {
  border: .7px solid var(--green);
}

.footer__form:invalid .footer-form__email {
  border: .7px solid var(--red);
  color: var(--red);
}

.footer__form:invalid .footer-form__submit {
  color: var(--red);
  border: 1px solid var(--red);
}

.footer-form__header {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}

.footer-form__email {
  height: 42px;
  width: 228px;
  background-color: transparent;
  border: .7px solid var(--orange);
  border-radius: 2px;
  padding: 10px 7px 10px 10px;
  color: #fff;
  margin-right: 10px;
}

.footer-form__email::placeholder {
  color: #bdbdbd;
}

.footer__copyright {
  grid-area: footer__copyright;
  align-self: flex-end;
  justify-self: right;
  display: block;
}

.footer__copyright-line {
  line-height: 130%;
  font-weight: 100;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.footer__copyright-line:first-child {
  margin-bottom: 10px;
}

.footer__nav-item.nav__item--selected {
  color: #f9804b;
  transform: none;
  cursor: default;
  pointer-events: none;
}

.footer__subscribe {
  grid-area: footer__subscribe;
  justify-self: right;
}
/* Footer end */

/* Media queries start */
@media screen and (max-width: 1000px) {
  :root {
    --guidelines-width: var(--guidelines-width-1000);
  }

  .wrap-guidelines {
    max-width: var(--max-width-1000);
    width: var(--guidelines-width-1000);
  }

  .nav {
    width: 486px;
  }

  .watch-online {
    background: url("../../assets/images/panda-bg-1000.png") no-repeat center;
    background-size: cover;
    min-height: 504px;
    max-height: 504px;
  }

  .watch-online__wrap {
    padding-top: 42.8px;
    padding-right: 55.75px;
    grid-template-columns: auto 400.25px;
  }

  .watch-online__image {
    max-width: 367px;
    top: -53.8px;
    left: -58px;
  }

  .watch-online__text {
    font-size: 85px;
    padding-bottom: 40px;
    width: 400px;
  }

  .main__wrap {
    background-image: none;
    padding-top: 100px;
  }

  .backstage__image {
    width: 100%;
    max-width: 455px;
    height: 408px;
  }

  .pets {
    background: url("../../assets/images/palm-1000.png") no-repeat, url("../../assets/images/strelitzia-1000.png") no-repeat;
    background-position: bottom left, bottom right;
    padding-bottom: 140px;
  }

  .pets__grid {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    grid-template-areas: "pet-card--panda pet-card--eagle pet-card--eagle pet-card--cheetah"
                         ". pets__arrow--left pets__arrow--right ." 
                         "pet-card--gorilla pet-card--alligator pet-card--alligator pet-card--penguin";
    column-gap: 30px;
    row-gap: 15px;
  }

  .pet-card--alligator {
    display: block;
    position: relative;
  }

  .pet-card--sloth {
    display: none;
    position: absolute;
  }

  .pet-card__image {
    min-width: 294px;
    max-width: 294px;
  }

  .pets__arrow {
    position: initial;
  }

  .friend {
    padding: 30px 0 50px 0;
  }

  .friend__pick {
    padding-bottom: 50px;
  }

  .friend-donation__cards {
    padding-bottom: 70px;
  }

  .testimonials {
    padding: 100px 0 140px;
    background: url("../../assets/images/leaf-1000.png") no-repeat bottom -90px right;
  }

  .testimonials__header {
    padding-bottom: 30px;
  }

  .testimonials__card-border {
    width: 295px;
  }

  .testimonials__card:last-child {
    display: none;
  }

  .testimonials__scroll {
    width: 390px;
    margin-bottom: 52px;
  }

  .footer {
    padding-left: 13px;
  }

  .footer__grid {
    grid-template-columns: 31% 39% 30%;
    grid-template-areas: "footer__logo-wrap . footer__subscribe"
                         "footer__donate-link-wrap . ."
                         "footer__social-media footer__nav footer__copyright";
  }

  .footer__nav {
    justify-self: left;
    max-width: 332px;
  }

  .footer__subscribe {
    padding-right: 32px;
  }
}

@media screen and (max-width: 840px) {

  /* .footer__nav {
    max-width: 270px;
    padding-right: 5px;
  }

  .footer__grid {
    grid-template-columns: 20% 39% 32%;
  } */

  :root {
    --guidelines-width: var(--guidelines-width-640);
  }

  .wrap-guidelines {
    max-width: var(--max-width-640);
    width: var(--guidelines-width-640);
  }

  .header {
    min-height: 34px;
    max-height: 34px;
    padding: 0;
  }
  
  .header__wrap {
    justify-content: space-between;
  }

  .header .logo {
    border: none;
  }

  .header .logo__title {
    font-size: 12.29px;
    background: url("../../assets/icons/bamboo-640.svg") no-repeat;
    background-position-x: 13.5%;
    background-position-y: 75%;
  }

  .nav {
    display: none;
  }
  
  .header__menu-button {
    display: flex;
  }

  .watch-online {
    min-height: 339px;
    max-height: 339px;
  }

  .watch-online__wrap {
    padding: 48px 0 0;
    grid-template-columns: auto 255.64px;
    grid-template-areas: ". watch-online__content-wrap" "watch-online__link-wrap .";
  }

  .watch-online__link-wrap {
    justify-self: left;
    transform: translateY(-2.83px);

  }

  .watch-online__image {
    display: block;
    max-width: 237.6px;
    top: -37.8px;
    left: -37.3px;
  }

  .watch-online__text {
    max-width: 255.64px;
    font-size: 54.29px;
    padding-bottom: 0;
  }

  .main__wrap {
    background: url("../../assets/images/flower-640.png") no-repeat;
    background-position: top 12px right;
    padding: 60px 0 80px;
  }

  .description__short {
    padding-bottom: 30px;
  }

  .description__subheader {
    padding-bottom: 20px;
  }

  .backstage__col-1 {
    display: none;
  }

  .pets {
    background: url("../../assets/images/palm-640.png") no-repeat, url("../../assets/images/strelitzia-640.png") no-repeat;
    background-position: bottom left, bottom right;
    padding-bottom: 100px;
  }

  .pets__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
  }

  .pets__grid {
    grid-template-columns: 285.24px 285.24px;
    grid-template-areas: "pet-card--panda pet-card--eagle"
                         "pets__arrow--left pets__arrow--right"
                         "pet-card--gorilla pet-card--alligator";
    column-gap: 30px;
    row-gap: 11px;
  }

  .pets__arrow {
    margin-bottom: 9px;
  }

  .pets__arrow--left {
    justify-self: right;
  }

  .pets__arrow--right {
    justify-self: left;
  }

  .pet-card--sloth,
  .pet-card--cheetah,
  .pet-card--penguin {
    display: none;
  }

  .friend {
    padding: 20px 0;
  }

  .friend__wrapper {
    width: 100%;
    padding-top: 10px;
    border-radius: 20px;
    text-align: center;
  }

  .friend__header {
    font-size: 42px;
    padding-bottom: 20px;
    text-align: center;
  }

  .friend__description {
    padding: 0 3.3% 30px;
  }

  .friend-text__header {
    font-size: 22px;
    padding-bottom: 20px;
  }

  .friend-donation__header {
    padding-bottom: 20px;
  }

  .friend__donation-card:not(:first-child) {
    margin-left: 42px;
  }

  .friend-donation-card__arrow-wrap {
    align-items: flex-start;
    transform: translate(110%, -10%);
    z-index: 2;
  }

  .friend-donation__cards {
    padding-bottom: 40px;
  }

  .friend__pick {
    padding-bottom: 60px;
  }

  .testimonials {
    padding: 60px 0 80px;
    background: url("../../assets/images/leaf-640.png") no-repeat bottom -68px right;
  }

  .testimonials__cards {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .testimonials__card:not(:first-child) {
    margin-top: 15px;
  }

  .testimonials__card-border {
    width: 100%;
    padding: 2px;
    height: 109px;
  }

  .testimonials__card-text {
    max-height: 109px;
  }

  .testimonials__scroll {
    display: none;
  }

  .testimonials__button-feedback-wrap {
    text-align: center;
  }

  .footer {
    padding: 12px 0;
  }

  .footer__grid {
    column-gap: 12.333333333333334%;
    grid-template-columns: 49.666666666666665% auto;
    grid-template-areas: "footer__logo-wrap footer__social-media"
                         "footer__donate-link-wrap footer__social-media"
                         "footer__nav footer__copyright";
  }

  .footer__social-media {
    justify-self: right;
  }

  .footer__donate-link-wrap {
    padding-bottom: 67px;
  }

  .footer__social-media-title {
    display: none;
  }

  .footer__copyright {
    justify-self: left;
  }

  .footer__subscribe {
    display: none;
  }
}

@media screen and (max-width: 640px) {

  .footer__grid {
    column-gap: 1%;
    
  }
}

@media screen and (max-width: 500px) {

/* }

@media screen and (max-width: 320px) { */

  .wrap-guidelines {
    max-width: var(--max-width-320);
  }

  .watch-online {
    min-height: 187px;
    max-height: 187px;
  }

  .watch-online__wrap {
    padding: 41.12px 0 0;
    grid-template-columns: auto 128.13px;
    grid-template-areas: ". watch-online__content-wrap"
                         "watch-online__link-wrap watch-online__link-wrap";
  }

  .watch-online__content-wrap {
    padding-bottom: 63.43px;
  }

  .watch-online__image {
    max-width: 119.09px;
    top: -18.95px;
    left: -18.7px;
  }

  .watch-online__text {
    max-width: 128.13px;
    font-size: 27.2px;
    padding-bottom: 0;
  }

  .backstage__col-1 {
    display: none;
  }

  .description__header {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .description__short {
    padding-bottom: 20px;
  }

  .description__subheader {
    padding-bottom: 10px;
  }

  .main__wrap {
    background: url("../../assets/images/flower-320.png") no-repeat;
    background-position: top 38px right;
    padding: 104px 0 40px;
  }

  .pets {
    background: url("../../assets/images/palm-320.png") no-repeat, url("../../assets/images/strelitzia-320.png") no-repeat;
    background-position: bottom left, bottom right;
    padding-bottom: 60px;
  }

  .pets__grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "pet-card--panda"
                         "pet-card--eagle"
                         "pet-card--gorilla"
                         "pet-card--alligator";
  }

  .pets__arrow {
    display: none;
  }

  .friend__wrapper {
    width: var(--guidelines-width);
  }

  .friend__pick {
    padding-bottom: 40px;
  }

  .friend__description {
    padding: 0 0 20px;
    text-align: center;
  }

  .friend__header {
    font-size: 24px;
  }

  .friend-text__header {
    font-size: 18px;
  }

  .friend-text__subheader,
  .friend-text__body {
    display: none;
  }

  .friend-donation__header {
    font-size: 24px;
  }

  .friend-donation__cards {
    flex-direction: column;
    padding-bottom: 93px;
    align-items: center;
  }

  .friend__donation-card:not(:first-child) {
    margin: 0;
  }

  .friend__donation-card:nth-child(2) {
    margin-top: 74px;
  }

  .friend__donation-card:nth-child(3) {
    margin-top: 83px;
  }

  .friend-donation-card__arrow-wrap {
    transform: translate(100%, 95%);
  }

  .friend-donation-card__text {
    padding-top: 10px;
    position: absolute;
  }

  .testimonials {
    padding: 30px 0 60px;
    background: url("../../assets/images/leaf-320.png") no-repeat bottom -30px right;
  }

  .testimonials__header {
    padding-bottom: 20px;
    font-size: 24px;
  }

  .testimonials__cards {
    padding-bottom: 30px;
  }

  .testimonials__button-feedback {
    width: 240px;
  }

  .footer {
    padding: 0 0 30px;
  }

  .footer .logo {
    border: none;
  }

  footer .logo__title {
    padding: 20px 0 30px;
    background: url("../../assets/icons/bamboo.svg") no-repeat;
    background-position-x: 62.5%;
    background-position-y: 33%;
  }
  
  footer .logo__title .nav-link{
    display: initial;
  }

  .footer__grid {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "footer__logo-wrap"
                         "footer__social-media"
                         "footer__subscribe"
                         "footer__donate-link-wrap"
                         "footer__copyright"
                         "footer__nav";
  }

  .footer__logo-wrap {
    justify-self: center;
    padding: 0;
    display: initial;
  }

  footer .footer__logo {
    padding: 0;
  }

  .footer__subscribe {
    display: initial;
    justify-self: center;
    padding: 0;
    text-align: center;
  }

  .footer-form__row {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  .footer__donate-link-wrap {
    padding-bottom: 40px;
  }

  .footer-form__header {
    font-size: inherit;
  }

  .footer-form__email {
    margin: 0;
  }

  .footer-form__submit {
    margin-top: 10px;
  }

  .footer__social-media {
    padding-bottom: 40px;
    justify-self: center;
  }

  .footer__social-media-item {
    width: initial;
  }

  .footer__social-media-icon {
    margin: 0;
  }

  .footer__social-media-list {
    flex-direction: row;
    justify-content: space-between;
    width: 194px;
  }

  .footer__copyright {
    padding-bottom: 40px;
    justify-self: right;
  }

  .footer__nav {
    justify-self: auto;
  }

  .footer__nav-list {
    justify-content: space-between;
  }

  .footer__nav-item:not(:first-child) {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__nav {
    max-width: 278px;
    justify-self: center;
  }
}
/* Media queries end */

/* 
.friend-form__input-amount-number::-webkit-outer-spin-button,
.friend-form__input-amount-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
} */

/* 
.friend-form__amount-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  margin-top: -21px;
  height: 44px;
  width: 44px;
  border: none;
  background: url("../../../assets/icons/roller-icon.svg") center no-repeat;
  cursor: pointer;
}

.friend-form__amount-range::-moz-range-thumb {
  appearance: none;

  background: url("../../../assets/icons/roller-icon.svg") center no-repeat;
  border: none;
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.friend-form__amount-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--gray-range-track);
  padding: 0;
}

.friend-form__amount-range:focus::-webkit-slider-runnable-track {
  background: var(--gray-range-track);
  padding: 0;

}

.friend-form__amount-range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--gray-range-track);
}

.friend-form__amount-range:focus {
  outline: none;
}

.friend-form__amount-range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
} */

/* .friend-form__amount-range-value:after {
  content: "..";
  color: transparent;
  background: url("../../../assets/icons/range-tick.svg") no-repeat;
  position: absolute;
	left: 25px;
  top: -33.5px;
  pointer-events: none;
} */


/* .friend-form__amount-range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
} */