.carousel__video-thumbnail {
  background: url("../../../assets/images/thumbnail-gorilla.jpg") no-repeat;
  background-size: cover;
}

.donate {
  background: url("../../../assets/images/gorilla-bg-cam.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 320px) {
  
  .info-header__title-wrap {
    display: flex;
    justify-content: center;
  }

  .info-header__title {
    max-width: 55%;
  }

  .sidebar {
    margin-bottom: -52px;
  }
}