.carousel__video-thumbnail {
  background: url("../../../assets/images/thumbnail-panda.jpg") no-repeat;
  background-size: cover;
}

.donate {
  background: url("../../../assets/images/panda-bg-cam.png") no-repeat;
  background-size: cover;
}