:root {
  --green: #4b9200;
  --gray-smoky: #ababab;
  --black-blue: #333b41;
}

/* Utility start */
.button-arrow:hover,
.button-arrow:focus,
.button-arrow:active {
  transform: scale(1.5);
}
/* Utility end */

.header {
  margin-bottom: 45px;
}

.sticky-container {
  display: flex;
  justify-content: center;
  background: url("../../../assets/images/strelitzia-right.png"), url("../../../assets/images/leaf-rotated.png");
  background-repeat: no-repeat;
  background-position: bottom left, bottom -90px right;
}

.main {
  color: #000;
  padding-bottom:180px;
  line-height: 140%;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  left: 30px;
  top: 30px;
  width: 99px;
  height: 652px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
  padding: 16px 10px;
  margin-right: -99px;
}

.sidebar__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__item--active {
  position: relative;
  pointer-events: none;
}

.sidebar__item--active .sidebar__link,
.sidebar__item--active .sidebar__button {
  border-color: var(--green);
  cursor: default;
  pointer-events: none;
}

.sidebar__item--active::after,
.sidebar__item--active::after {
  content: attr(title);
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  opacity: .8;
}

.sidebar__link,
.sidebar__button {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--orange);
  cursor: pointer;
}

.sidebar__button .sidebar__icon {
  stroke: #000;
  transform: scale(1.35);
}

.sidebar__icon {
  fill: #000;
}

.sidebar__link:hover,
.sidebar__button:hover {
  border-color: var(--green);
}

.sidebar__item--active .sidebar__icon,
.sidebar__link:hover .sidebar__icon,
.sidebar__link:focus .sidebar__icon {
  fill: var(--green);
}

.sidebar__item--active .sidebar__button .sidebar__icon,
.sidebar__button:hover .sidebar__icon,
.sidebar__button:focus .sidebar__icon {
  stroke: var(--green);
}

.sidebar__item-button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
}

.pet-camera {
  margin-bottom: 80px;
}

.camera-header {
  color: var(--black-blue);
  line-height: 120%;
  font-size: 48px;
  margin-bottom: 15px;
}

.pet-camera__iframe {
  height: 650px;
  width: 100%;
}

.video-gallery {
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-gallery__arrow--left {
  background: url("../../../assets/icons/arrow-left-orange.svg") no-repeat, linear-gradient(#f9804b, #fe9013);
}

.video-gallery__arrow--right {
  background: url("../../../assets/icons/arrow-right-orange.svg") no-repeat, linear-gradient(#f9804b, #fe9013);
}

.video-gallery__arrow--left,
.video-gallery__arrow--right {
  display: block;
}

.video-gallery__arrow--left:hover,
.video-gallery__arrow--left:focus {
  background: url("../../../assets/icons/arrow-left-orange.svg"), var(--green);
}

.video-gallery__arrow--right:hover,
.video-gallery__arrow--right:focus {
  background: url("../../../assets/icons/arrow-right-orange.svg"), var(--green);
}

.carousel {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.carousel__video {
  width: 268px;
  height: 210px;
}

.carousel__video-wrap {
  position: relative;
}

.carousel__video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.carousel__video-thumbnail {
  /* background: url("../../../assets/images/thumbnail.jpg") no-repeat;
  background-size: cover; */
  position: absolute;
  width: 100%;
  height: 210px;
  left: 0;
  top: 0;
}

.carousel__thumbnail-title {
  width: 55px;
  height: 24px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
  position: absolute;
  left: 9px;
  top: 9px;
  text-align: center;
}

.info__header {
  margin-bottom: 62px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.info-header__wrap-flex {
  display: flex;
}

.info-header__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: green;
  padding-bottom: 30px;
}

.info-header__image {
  display: block;
  width: 422px;
  height: 422px;
}

.info-header__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
}

.info-header-body__text {
  font-weight: 500;
  font-size: 26px;
  color: var(--gray-smoky);
  line-height: 140%;
}

.info-header-body__button {
  display: block;
  color: #fff;
  margin-top: 41px;
  margin-bottom: 35px;
  cursor: pointer;
}

.info-body-section__title {
  margin-bottom: 10px;
}

.info-body-section__title,
.info-body-section__title--one-line {
  font-size: 24px;
  line-height: 120%;
}

.info-body__section {
  margin-bottom: 30px;
}

.info-body__section {
  margin-bottom: 40px;
}

.info-body__section--short {
  margin-bottom: 28px;
}

.info-body__section--short:first-child {
  margin-bottom: 20px;
}

.info-body__section--short:nth-child(3) {
  margin-bottom: 31px;
}

.info-body-section__title:after,
.info-body-section__title--one-line:after {
  content: ":";
  position: absolute;
}

.info-body-section__title--one-line {
  display: inline-block;
  margin-right: 10px;
}

.info-body-section__text {
  margin-bottom: 20px;
}

.info-body-section__text--one-line {
  display: inline-block;
}

.donate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 390px;
  padding-bottom: 60px;
}

.donate__link {
  color: #fff;
}