:root {
  --orange: #fb853a;
  --gray-light: #f1f3f2;
  --green: #4b9200;
  --map-background: #eaf7fe;
}


.tooltip {
  z-index: 2;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  left: 30%;
  top: 60%;
  width: 158px;
  height: 109px;
  padding: 7px 11px 15px 11px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
}

.tooltip-eagles {
  left: 23%;
  top: 59%;
}

.tooltip-gorillas {
  left: 49%;
  top: 70%;
}

.tooltip-pandas {
  left: 66%;
  top: 59%;
}

.tooltip::before {
  content: '';
  width: 12px;
  height: 10.12px;
  z-index: 2;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  border: none;
  top: 0;
  left: 43.45px;
}

.tooltip::after {
  content: '';
  width: 9.57px;
  height: 10.12px;
  transform: rotate(45deg) skew(17deg, 17deg);
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  border: 1px solid #000;
  top: -4px;
  left: 44.7px;
}

.tooltip__animal,
.tooltip__location {
  line-height: 140%;
}

.tooltip__button {
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  width: 135px;
  height: 31px;
  background-color: var(--gray-light);
  border-radius: 5px;
  border: none;
  margin-top: 11px;
  cursor: pointer;
}

.animal-figure {
  cursor: pointer;
}

.tooltip__button:hover,
.tooltip__button:active {
  color: var(--green);
}

.main {
  display: flex;
  position: relative;
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.map-wrap {
  position: relative;
  width: 100%;
  padding: 0 0 58.625%;
  background-color: var(--map-background);
  overflow: hidden;
}

.map__mark:hover {
  fill: var(--orange);
  cursor: pointer;
}

.map__mark-active {
  fill: var(--orange);
}

.zoom-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: calc(-1*54px - 2.5%);
  margin-bottom: 2.5%;
}

.zoom {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 20px;
}

.zoom__button {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 54px;
  height: 54px;
  cursor: pointer;
  box-sizing: border-box;
}

.zoom__button:hover {
  border: 1px solid #4b9200;
}

.zoom__button-in {
  background: url("../../../assets/icons/zoom-in-inactive.svg") no-repeat;
}

.zoom__button-in:hover {
  background: url("../../../assets/icons/zoom-in-active.svg") no-repeat;
}

.zoom__button-out {
  margin-top: 10px;
  background: url("../../../assets/icons/zoom-out-inactive.svg") no-repeat;
}

.zoom__button-out:hover {
  background: url("../../../assets/icons/zoom-out-active.svg") no-repeat;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 640px) {

  .wrap-guidelines {
    max-width: var(--max-width-640);
    width: var(--guidelines-width-640);
  }
  
  .zoom {
    display: none;
  }
}