.carousel__video-thumbnail {
  background: url("../../../assets/images/thumbnail-alligator.jpg") no-repeat;
  background-size: cover;
}

.donate {
  background: url("../../../assets/images/alligator-bg-cam.png") no-repeat center;
  background-size: cover;
}