.carousel__video-thumbnail {
  background: url("../../../assets/images/thumbnail-eagle.jpg") no-repeat;
  background-size: cover;
}

.donate {
  background: url("../../../assets/images/eagle-bg-cam.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 320px) {
  .sidebar__item:nth-child(4) {
    display: initial;
  }
  .sidebar__item:nth-child(3) {
    display: none;
  }
  .sidebar__item:last-child {
    display: initial;
  }
}